
.quotes {
    flex-direction: column;
}
.quotes__card-switcher {
    margin: 30px 0;
}
.quotes-list-wrapper {
    margin-top: 30px;
}
.quotes-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}