
body {
    color: black;
    margin: 0;
    background: #EEEEEE;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
:root {
    --main-color: #04718c;
}


/* Content start */
.content {
    flex-grow: 1;
}
/* Content end */

/* Header start */

/* Header end */

/* Footer start */

/* Footer end */


